*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# output graphs
output/

# Sphinx
docs/_build

.webassets-cache

# Virtualenvs
env/

# VS Code config
.vscode/

# Migrations
migrations/

# npm
/node_modules/

# webpack-built files
/bookapi/static/build/
/bookapi/webpack/manifest.json
